.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  width: 250px;
  height: 300px;
  background-color: #2ef775;
  padding: 20px;
  margin: 50px auto;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  width: 50px;
  height: 50px;
  background-color: #f7712d;
  cursor: pointer;

  &::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #fff;
    opacity: 1;
    transition: opacity 500ms ease-out 0s;
  }

  &.shown::before {
    opacity: 0;
    /* display: none; */
  }

  &.found::before {
    /* display: block; */
    opacity: 0.5;
  }
}
